<form method="post" action="/uploadFiles/" enctype="multipart/form-data"> {{!--siempre que se quiere enviar archivos hay que cambiar el enctype, aca va solo texto plano--}}

	<input type="file" name="file">

	<button type="submit">Subir</button>

	{{mensaje}}
	
	

</form>